# Top-most EditorConfig file
root = true

# Common settings for all files. I don't specify indent type here, because
# some EditorConfig implementations (notably Atom) will cause default settings
# and behaviors (like tab type auto-detection) to be overridden.
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Python
[*.py]
indent_style = space
indent_size = 4

# YAML and Markdown
[*.{yml,yaml,md}]
indent_style = space
indent_size = 2

# CoffeeScript
[*.coffee]
indent_style = space
indent_size = 2

# format:dosini
