[user]
	name = Noah Petherbridge
	email = npetherbridge@mediatemple.net

[alias]
	ci = commit
	co = checkout
	br = branch
	st = status

[core]
	editor = vim

[color]
	ui = true
	diff = true
	pager = true
	status = auto
	branch = auto

[push]
	default = simple

# (mt) git-project
[project]
	defaultprojecttype = branch
