[user]
	name = Noah Petherbridge
	email = "(none)"  # Use `gu` to set this on a per-repo basis

[alias]
	ci = commit
	co = checkout
	br = branch
	st = status

[core]
	editor = vim

[color]
	ui = true
	diff = true
	pager = true
	status = auto
	branch = auto

[push]
	default = simple
