[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=pyupdatesd
Comment=Yum Updates Daemon
Icon=/usr/share/icons/gnome/32x32/status/software-update-available.png
Exec=pyupdatesd
OnlyShowIn=XFCE;MATE;
StartupNotify=false
Terminal=false
Hidden=false

X-MATE-Autostart-enabled=true
Name[en_US]=pyupdatesd: Yum Updates Daemon
Comment[en_US]=Notifies about available software updates.
